html, body {
    margin: 0 auto;
    width: 70%;
}

header {
    height: 50px;
    background-color: black;
    color: white;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin: 0 auto;
}

.cards {
    padding: 10px;
    width: auto;
    height: auto;
    background-color: darkgray;
    margin: 5px;
    border-radius: 3px;
  
}

#laptopInfo {
    grid-column-start: 1;
    grid-column-end: 4;
}

.textContent p {
    display: inline;
}

.textContent{
    display: flex;
    justify-content: space-between;
}

#modal{
    /* CSS for overlay: https://www.w3schools.com/howto/howto_css_overlay.asp */
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    
}

#loanPrompt{
    display: block;
    padding: 20px;
    left: 520px;
    width: 326px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    margin: auto auto;
}

#outstandingLoan{
    display: none;
}

#laptopImg {
    background-color: white;
    width: 100%
}

#laptopInfo{
    display: flex;
    flex-direction: row;
}

#laptopImgContainer{
    width: 30%;
}

#laptopInfoContainer{
    padding-left: 10px;
    width: 70%
}



#bankCard section{
    display: flex;
    flex-flow: wrap;

}

